body
{
  background-color: NavajoWhite;
}

.map
{
  float: left;
}

.causeLabels
{
  position: relative;
  float:right;
  right:200px;
}

.causeLabel
{;
  float: left;
  clear: left;
  margin:5px;
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 250px;
  border-radius: 25px;
}

.pyramid
{
  float: left;
  clear: left;
}
